.chat
  .chat__container
    .header
      h2 You are logged in as ...
    .chat__box
        each message in messages
            .message-box.left-img
                div.picture
                    img(src='https://unsplash.it/200/200/?random=')
                    span.time= message.time
                .message
                    span= message.name
                    p= message.text
